<form action="{% url 'buscar_categoria' %}" method="GET">
    <select name="searchCategoria" value="{{queryCategory}}">
        <option  disabled {% if not queryCategory %}selected{% endif %}>Buscar por categoria</option>
        {% for category in categories %}
            <option value="{{ category.name }}" {% if category.name == queryCategory %}selected{% endif %}>
                {{ category.name }}
            </option>
        {% endfor %}
        {% if queryCategory %}
            <option value="borrarFiltro">Borrar filtro</option>
        {% endif %}
    </select>
    <button type="submit" class="btn btn-primary">
        Buscar Categoria
    </button>
</form>
