<form action="{% url 'buscar_marca' %}" method="GET">
    <select name="searchMarca">
        <option value="" disabled {% if not queryMarca %}selected{% endif %}>Buscar por marca</option>
        {% for brand in brands %}
            <option value="{{ brand.name }}" {% if brand.name == queryMarca %}selected{% endif %}>
                {{ brand.name }}
            </option>
        {% endfor %}
        {% if queryMarca %}
            <option value="borrarFiltro" selected>Eliminar filtro</option>
        {% endif %}
    </select>
    <button type="submit" class="btn btn-primary">
        Buscar marca
    </button>
</form>
