:root {
    --primary-color: #06B6D4;
    --background-color: #272840;
    --dark-background: #1e1f36;
    --text-color: #ffffff;
    --input-background: #3a3b58;
    --button-hover: #06B6D4;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: white;
}

input {
    width: 100%;
    padding: 0.8rem;
    border-radius: 4px;
    border: 1px solid #444;
    background-color: var(--input-background);
    color: var(--text-color);
    font-size: 1rem;
    box-sizing: border-box;
    
}
.form-group{
    background-color: #1E1F36;
    border: 2px solid #06B6D4;
    color: white;
    padding: 10px;
    margin-bottom: 1.5rem;
}

.profile-container {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
}

input:focus {
    border-color: #06B6D4;
    box-shadow: 0 0 8px rgba(0, 188, 212, 0.5);
    outline: none; 
}


.password-section {
    margin-top: 2rem;
    padding-top: 1.5rem;
    border-top: 1px solid #444;
}



.form-row .form-group {
    flex: 1;
    margin-bottom: 0;
}


.btn {
    background-color: var(--primary-color);
    color: #0f3460;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background: #06B6D4 ;
    transform: scale(1.05);
    color: #0f3460 ;
}

.btn:active{
    background: #06B6D4 ;
    color: #0f3460 ;
}
.btn:focus{
    background: #06B6D4 !important ;
    color: #0f3460 !important;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1.5rem;
}

.buttons a {
    text-decoration: none;
    color: #0f3460;
}

@media screen and (max-width: 768px) {
    .buttons{
        display: flex;
        flex-direction: column;
    }

}