.profile-form-container {
    max-width: 700px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}
h1,
h2 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-form-container p {
    margin: 10px 0;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #06B6D4;
}

input, select{
    width: 100%;
    padding: 10px;
    background-color: #1E1F36;
    border: 2px solid #06B6D4;
    border-radius: 8px;
    color: #fff;
    -webkit-appearance: none; 
    -moz-appearance: none; 
}

input::placeholder {
    color: #ccc;
}

input:focus {
    border-color: #06B6D4;
    box-shadow: 0 0 8px rgba(0, 188, 212, 0.5);
    outline: none; 
}

select {
    padding-right: 30px; /* Añadir espacio para el ícono de la flecha */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path d="M2 4l4 4 4-4z" fill="white"/></svg>'); /* Flecha personalizada */
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 12px 12px;
}

.btn {
    padding: 12px;
    background-color: #06B6D4 ;
    color: #0f3460 ;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background: #06B6D4  !important;
    transform: scale(1.05) !important;
    color: #0f3460 !important;
}
.btn:focus {
    background: #06B6D4 !important;
}


@media (max-width: 730px) { 
   .profile-form-container {
    margin: 50px 20px;
    }
}