{% extends 'base.html' %}
{% load static %}
{% block title %} Registrarse {% endblock %}

{% block navbar %}{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">

<div style="display: flex; justify-content: center; align-items: center; margin-top: -1%;">
    <a style="text-decoration: none;" href="{% url 'index' %}"><h2 style="color: #17F0D2; font-size: 40px;">Byte & Beat</h2></a>
</div>

<section class="register-wrapper" style="margin-bottom: 100px;">
    <div class="container-register mt-5">
        <div class="card">
            <div class="card-body ">
                <h3>Registrarse</h3>
                <form method="POST">
                    {% csrf_token %}
                    
                    {% for m in form %}
                    <div class="form-group" style="color: white;">
                        {{m.label_tag}}
                        {{m}}
                        <div style="padding-top: 5px;">
                            {% if m.errors %}
                                {{m.errors}}
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}

                    <div class="mt-4 mb-4" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                        <a style="color: #17F0D2; text-decoration: none;" href="{% url 'login' %}">¿Ya tienes cuenta? Iniciar sesión</a>
                    </div>
                    
                    <hr style="color: #17F0D2;">
                    <button type="submit" class="btn w-100 py-2"
                        style="margin-bottom: 20px; background-color: #17F0D2; color: #1E1F36; font-weight: bold;">
                        Registrarse
                    </button>
                </form>

            </div>
        </div>
    </div>
        
</section>
{% endblock %}

