.container-register {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #2C2F47;
    border: none;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4),
                0 0 0 1px rgba(23, 240, 210, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 100%;
    width: 400px;
}

.card {
    display: flex;
    background-color: #2C2F47;
    border: none !important;
}

.card h3 {
    color: #17F0D2;
    margin-top: 10%;
    text-align: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2C2F47;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5%;
}
.form-group label {
    margin-bottom: 3%;
    color: #17F0D2;
}

.form-group .register-input {
    background-color: #1E1F36;
    border: 2px solid #17F0D2;
    color: white;
    padding: 10px;
}

.form-group .register-input::placeholder {
    color: #aaaaaa;
}

.btn {
    --background: #17F0D2 !important;
}

/* Ajustes para dispositivos pequeños */
@media (max-width: 640px) {
    .container-register {
        width: 90%;
        margin-top: 20%;
    }
}

/* Ajustes para dispositivos grandes */
@media (min-width: 1025px) {
    .container-register {
        width: 400px;
    }
}
