{% extends 'base_admin.html' %}


{% block content_admin %}

<div style="background: lightblue;">
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Sku</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Marca</th>
                        <th>Categoria</th>
                        <th>Stock</th>
                        <th>Imagen</th>
                        <th>Opciones</th>
                        <th>Ir a producto</th>
                    </tr>
                </thead>
                {% for product in products %}
                <tbody>
                    <tr>
                        <td>{{product.sku}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.brand}}</td>
                        <td>{{product.category}}</td>
                        <td>{{product.stock}}</td>
                        {% if product.main_image.url %}
                        <td><img src="{{product.main_image.url}}" alt="" width="50px" height="50px"></td>
                        {% else %}
                        <td>><p>No hay imagen disponible</p></td>
                        {% endif %}
                        <td>
                            <a class="btn btn-primary" href="{% url 'editar_product_admin' product.id %}">Modificar</a>
                            &ndash;
                            <a class="btn btn-danger" onclick="eliminarProducto({{product.id}})">Eliminar</a>
                        </td>
                        <td><a href="#">Ir a producto</a></td>

                    </tr>
                </tbody>
                {% endfor %}
            </table>

            <a href="{% url 'list_ordenes_admin' %}">Ir a listado ordenes</a>
        </div>
    </div>
    
    
    
    
    
    
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function eliminarProducto(id){
        const baseUrl = "{% url 'eliminar_product_admin' 0 %}".replace("0", id);
        Swal.fire({
            title: '¿Estás seguro?',
            text: 'Esta acción no se puede deshacer',
            icon: 'question',
            showCancelButton: true,
            cancelButtonText: 'No, cancelar',
            confirmButtonText: 'Sí, eliminar',
            reverseButtons: true,
            confirmButtonColor: '#dc3545'
        }).then(function(result){
            if(result.isConfirmed){
                window.location.href = baseUrl;
            }
        });
    }
</script>
{% endblock %}

