{% load static %}
{% include 'modals/alert_modal.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>{% block title %} Cambiar Contraseña {% endblock %}</title>
</head>

<body style="background: #1E1F36;">
    <div style="display: flex; justify-content: center; align-items: center; margin-top: 2%;">
        <a style="text-decoration: none;" href="{% url 'index' %}">
            <h2 style="color: #17F0D2; font-size: 40px;">Byte & Beat</h2>
        </a>
    </div>

    <section class="login-wrapper" style="margin-bottom: 100px;">
        <div class="container-login mt-5">
            <div class="card">
                <div class="card-body">
                    {% if validlink %}
                    <h3 style="color: #17F0D2;">Nueva Contraseña</h3>

                    <form method="post">
                        {% csrf_token %}

                        <!-- Nueva contraseña -->
                        <div class="form-group"
                            style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; margin-top: 10%;">
                            <label for="id_new_password1" style="color: #17F0D2; margin-bottom: 3%;">Nueva
                                Contraseña:</label>
                            <input class="input-reset" type="password" name="new_password1" class="form-control"
                                placeholder="Nueva Contraseña"
                             />
                            {% if form.new_password1.errors %}
                            <div style="color: #DC3545; padding-top: 5px;">
                                {% for error in form.new_password1.errors %}
                                <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>

                        <!-- Confirmar nueva contraseña -->
                        <div class="form-group"
                            style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; margin-top: 10%;">
                            <label for="id_new_password2" style="color: #17F0D2; margin-bottom: 3%;">Confirmar
                                Contraseña:</label>
                            <input class="input-reset"  type="password" name="new_password2" class="form-control"
                                placeholder="Confirmar Contraseña"
                                 />
                            {% if form.new_password2.errors %}
                            <div style="color: #DC3545; padding-top: 5px;">
                                {% for error in form.new_password2.errors %}
                                <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>

                        <hr style="color: #17F0D2;">

                        <!-- Botón para enviar la nueva contraseña -->
                        <button type="submit" class="btn w-100 py-2"
                            style="background-color: #17F0D2; color: #1E1F36; font-weight: bold;">
                            Cambiar mi contraseña
                        </button>
                    </form>
                    {% else %}
                    <h1 class="text-center" style="color: white;">ENLACE INVÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h1>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
</body>

</html>