{% extends 'base.html' %}
{% load precios_tag %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/detail_product.css' %}">
<div class="product-detail-container">
    <div class="product-images">
        <div class="main-image">
            {% if product.main_image %}
                <img id="main-image" src="{{ product.main_image.url }}" alt="{{ product.name }}" loading="lazy">
            {% endif %}
        </div>
        <div class="thumbnail-images mt-3">
            <div class="thumbnail active" onclick="switchImages()">
                {% if product.secondary_image %}
                <img id="secondary-image" class="secondary_img" src="{{ product.secondary_image.url }}" alt="{{ product.name }}" loading="lazy" onmouseover="highlightImage(this)" onmouseout="removeHighlight(this)">
                {% endif %}
            </div>
        </div>
    </div>
    
    <div class="product-info">
        <div class="product-brand">{{ product.brand }}</div>
        <div class="product-brand">SKU {{ product.sku }}</div>
        <h1 class="product-name">{{product.name}}</h1>
        <div class="product-price">{{ product.price | format_price}}</div>
        
        <p class="product-description">
            {{ product.description }}
        </p>
        
        <div class="quantity-selector">
            {% include 'add.html' %} 
        </div>
    </div>
</div>

<script>
    let isMainImage = true;  // Variable para controlar la imagen principal

    // Función para alternar entre las imágenes
    function switchImages() {
        const mainImage = document.getElementById("main-image");
        const secondaryImage = document.getElementById("secondary-image");

        // Cambiar la imagen principal y secundaria
        if (isMainImage) {
            // Hacer la transición y cambiar las imágenes
            mainImage.style.opacity = 0;
            setTimeout(() => {
                mainImage.src = secondaryImage.src;  // Cambiar la imagen principal a la secundaria
                mainImage.style.opacity = 1; // Restaurar opacidad
                secondaryImage.src = "{{ product.main_image.url }}"; // Cambiar imagen secundaria a la principal
            }, 500); // Tiempo de animación
            isMainImage = false;
        } else {
            // Restaurar la imagen principal original
            mainImage.style.opacity = 0;
            setTimeout(() => {
                mainImage.src = "{{ product.main_image.url }}"; // Volver a la imagen principal
                mainImage.style.opacity = 1; // Restaurar opacidad
                secondaryImage.src = "{{ product.secondary_image.url }}"; // Cambiar imagen secundaria a la secundaria original
            }, 500); // Tiempo de animación
            isMainImage = true;
        }
    }

    // Función para resaltar la imagen secundaria al pasar el mouse
    function highlightImage(img) {
        img.style.transform = "scale(1.1)";  // Aumentar tamaño
        img.style.border = "2px solid #4CAF50";  // Borde verde
        img.style.boxShadow = "0 4px 8px rgba(0, 0, 0, 0.2)";  // Sombra suave
    }

    // Función para quitar el resaltado de la imagen secundaria
    function removeHighlight(img) {
        img.style.transform = "scale(1)";  // Restablecer tamaño
        img.style.border = "2px solid transparent";  // Quitar el borde
        img.style.boxShadow = "none";  // Quitar la sombra
    }
</script>
{% endblock %}
