{% extends 'base.html' %}
{% load precios_tag %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/detail_product.css' %}">
<div class="product-detail-container">
    <div class="product-images">
        <div class="main-image">
            {% if product.main_image %}
                <img src="{{ product.main_image.url }}" alt="{{ product.name }}" style="width: 100px; height: 100px;"
                    loading="lazy">
            {% endif %}
        </div>
        <div class="thumbnail-images">
            <div class="thumbnail active">
                {% if product.secondary_image %}
                <img src="{{ product.secondary_image.url }}" alt="{{ product.name }}" style="width: 100px; height: 100px;"
                    loading="lazy">
                {% endif %}
            </div>
        </div>
    </div>
    
    <div class="product-info">
        <div class="product-brand">{{ product.brand }}</div>
        <h1 class="product-name">{{product.name}}</h1>
        <div class="product-price">{{ product.price | format_price}}</div>
        
        <p class="product-description">
            {{ product.description }}
        </p>
        
        <div class="quantity-selector">
            {% include 'add.html' %}
        </div>
        
    </div>
</div>


{% endblock %}