<form action="{% url 'search_product' %}" method="GET">
    <div class="input-group">
        <input type="text" name="searchQ" class="form-control" placeholder="Buscar productos..." aria-label="Buscar productos..." value="{{ query }}"> 
        <div class="input-group-append">
            <button type="submit" class="btn" style="background-color: #7c3aed; border-radius: 0 2rem 2rem 0;">
                <i class="bi bi-search" style="font-size: 25px;"></i>
            </button>
        </div>
    </div>
</form>
