/* Estilo para la inicial del usuario */
.initial-user{
    font-size: 1.5rem;           
    font-weight: bold;           
    color: #17F0D2;              
    background-color: #1E1F36;  
    border-radius: 50%;         
    padding: 10px;               
    width: 40px;                 
    height: 40px;                
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/* body{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    margin: 0;
    padding: 0;
    height: 100%;
} */
 