{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/editar_perfil.css' %}">

<div class="profile-form-container">
  <h1>Editar Perfil</h1>
  <hr>
  <form method="POST">
    {% csrf_token %}

    <h2>Datos personales</h2>
    {{ user_form.as_p }}
    <hr>
    <h2>Información de contacto</h2>
    {{ profile_form.as_p }}

    <hr>
    <h2>Dirección</h2>
    {{ address_form.as_p }}
    <hr>
    <button class="btn" type="submit">Actualizar perfil</button>
    {% if next %}
      <input type="hidden" name="next" value="{{next}}">
    {% endif %}
  </form>

  <a class="btn" href="{% url 'perfil' %}">← Atrás</a>
</div>
{% endblock %}