{% extends 'base.html' %}

{% block content %}
<div style="background: white; margin: auto; color: black; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h1>Editar Perfil</h1>
    <form method="POST">
        {% csrf_token %}
        
        <h2>Datos personales</h2>
        {{ user_form.as_p }}
        
        <h2>Información de contacto</h2>
        {{ profile_form.as_p }}
    
        <h2>Dirección</h2>
        {{ address_form.as_p }}
    
        <button type="submit">Actualizar perfil</button>
    </form>
    <a href="">Atras</a>
</div>

{% endblock %}
