{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/perfil.css' %}">
<section>
    
<div class="profile-container">
    <h1>Mi Perfil</h1>
    <div class="user-info">
      <div class="user-card-header">
        <div class="user-avatar">{{initial | title}}</div>
        <div>
          <div class="user-name">{{profile.user.first_name | title }} {{profile.user.last_name | title }}</div>
          <div class="user-email">{{profile.user.email}}</div>
        </div>
      </div>
      
      <div class="profile-section">
        <div class="profile-field">
          <div class="field-label">Nombres</div>
          <div class="field-value">{{profile.user.first_name | title }} </div>
        </div>
        
        <div class="profile-field">
          <div class="field-label">Apellidos</div>
          <div class="field-value">{{profile.user.last_name | title }}</div>
        </div>
        
        <div class="profile-field">
          <div class="field-label">Correo electrónico</div>
          <div class="field-value">{{profile.user.email}}</div>
        </div>
        
        <div class="profile-field">
          <div class="field-label">Dirección</div>
            <div class="field-value">
                {% if addresses %}
                    {% for address in addresses %}
                        {{ address.calle }} {{ address.num_direccion }}, {{ address.comuna.name | title }}, {{ address.ciudad }}
                    {% endfor %}
                    {% else %}
                        <p>Sin direcciones</p>
                {% endif %}
            </div>
        </div>
        
        <div class="profile-field">
          <div class="field-label">Teléfono</div>
            <div class="field-value">
                {% if profile.phone_number %}
                    {{profile.phone_number}}
                {% else %}
                    <p>Sin telefono</p>
                {% endif %}
            </div>
        </div>
      </div>
    </div>
    <div class="buttons">
        <a id="btn" class="btn" href="{% url 'change_password' %}">Cambiar contraseña</a>
        <br>
        <a id="btn1" class="btn" href="{% url 'edit_profile' %}">Editar perfil</a>
    </div>
    
</section>
<script>
    
  let ClickedA = false;
  let ClickedB = false;

  document.getElementById('btn')?.addEventListener('click', function (e) {
      if (ClickedA) {
          e.preventDefault();
          return false;
      }
      ClickedA = true;
  });

  document.getElementById('btn1')?.addEventListener('click', function (e) {
      if (ClickedB) {
          e.preventDefault();
          return false;
      }
      ClickedB = true;
  });
</script>
{% endblock %}