<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />

<!-- MODAL DE ERROR -->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="display: flex; justify-content: center; align-items: center">
        <div class="modal-content text-white" style="background-color: #1e1f36; width: 350px; border: none">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="errorModalLabel">Error</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body text-center">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert m-0 alert-danger d-flex align-items-center" role="alert" style="background-color: #dc3545; border: none; color: white">
                            <i class="bi bi-x-circle-fill text-white me-2"></i>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- MODAL DE ÉXITO -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="display: flex; justify-content: center; align-items: center; border: none;">
        <div class="modal-content text-white" style="background-color: #1e1f36; width: 350px;">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="successModalLabel">Éxito</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body text-center">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert m-0 alert-success d-flex align-items-center" role="alert" style="background-color: #198754; border: none; color: white;">
                            <i class="bi bi-check-circle-fill text-white me-2"></i>
                            <div>{{ message }} <i class="bi bi-emoji-smile"></i></div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- MODAL DE INFORMACIÓN -->
<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="display: flex; justify-content: center; align-items: center; border: none;">
        <div class="modal-content text-white" style="background-color: #1e1f36; width: 350px;">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="infoModalLabel">Información</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body text-center">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert m-0 alert-info d-flex align-items-center" role="alert" style="background-color: #17a2b8; border: none; color: white;">
                            <i class="bi bi-info-circle-fill text-white me-2"></i>
                            <div>{{ message }} <i class="bi bi-emoji-smile"></i></div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    const successModal = new bootstrap.Modal(document.getElementById('successModal'));
                    successModal.show();
                {% elif message.tags == 'error' %}
                    const errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
                    errorModal.show();
                {% elif message.tags == 'info' %}
                    const infoModal = new bootstrap.Modal(document.getElementById('infoModal'));
                    infoModal.show();  
                {% endif %}
            {% endfor %}
        {% endif %}
    });
</script>

