.product-detail-container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #2d2b42;
    border-radius: 1rem;
    display: flex;
    gap: 2rem;
    color: white;
}

.product-images {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-image {
    width: 100%;
    height: 400px;
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-image img {
    width: 100%;
    height: 100%;
    border-radius: 1rem; /* Bordes redondeados */
    transition: opacity 0.5s ease;
}

.thumbnail img {
    width: 100px;
    height: 100px;
    border-radius: 0.5rem; 
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.thumbnail-images {
    display: flex;
    gap: 0.5rem;
}

.thumbnail {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail.active {
    border: 2px solid #D1A0FF;
}

.product-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.product-brand {
    color: #D1A0FF;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.product-name {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.product-price {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 1rem 0;
}

.product-description {
    margin: 1.5rem 0;
    line-height: 1.6;
    color: #e0e0e0;
}

.quantity-selector {
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
}

.quantity-selector button {
    width: 40px;
    height: 40px;
    background-color: #3c3a56;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

.quantity-selector input {
    width: 60px;
    height: 40px;
    text-align: center;
    margin: 0 0.5rem;
    background-color: #3c3a56;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 0.5rem;
}

.action-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.action-buttons .add-to-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    background-color: #7c3aed;
    color: white;
    border: none;
    width: 300px;
    padding: 1rem;
    border-radius: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: all 0.3s ease;
}

.add-to-cart:hover {
    background: #7c3aed; /* Cambio aquí */
    transform: scale(1.05);
    color: #fff;
}
/* Móviles pequeños */
@media (max-width: 480px) {
    .product-detail-container {
        display: block;
        padding: 20px; /* Agregar padding a la card */
    }

    .product-images {
        display: block;
        width: 100%;
        text-align: center;
    }

    .main-image img {
        width: 70%; 
        height: 70%; 
        object-fit: contain; /* Ajusta la imagen sin distorsión */
    }
    .main-image{
        width: auto; 
        height: auto;
    }

    .thumbnail-images {
        display: flex;
        justify-content: center;
    }

    .thumbnail img {
        width: 70%; 
        height: 70%; 
        object-fit: contain; /* Ajusta la imagen sin distorsión */
    }

    .product-info {
        margin-top: 10px;
    }

    .quantity-selector {
        font-size: 14px; /* Reducir tamaño de botones */
        padding: 8px 16px; /* Reducir tamaño de botones */
    }
}

/* Móviles pequeños */
@media (max-width: 640px) {
    .product-detail-container {
        display: block;
        padding: 20px; /* Agregar padding a la card */
    }

    .product-images {
        display: block;
    }

    .main-image img {
        width: 70%; 
        height: 70%; 
        object-fit: contain;
    }
    .main-image{
        width: auto; 
        height: auto;
    }

    .thumbnail-images {
        display: flex;
        justify-content: center;
    }

    .thumbnail img {
        width: 70%; 
        height: 70%; 
        object-fit: contain;
    }

    .product-info {
        margin-top: 10px;
    }

    .quantity-selector {
        font-size: 14px; /* Reducir tamaño de botones */
        padding: 10px 18px; /* Reducir tamaño de botones */
    }
}

/* Estilos responsive para filtros */
@media (max-width: 768px) {
    .product-detail-container {
        display: block;
        padding: 20px; /* Agregar padding a la card */
    }

    .product-info {
        margin-top: 20px;
    }

    .product-brand,
    .product-price,
    .product-description {
        font-size: 14px;
    }

    .quantity-selector {
        margin-top: 10px;
        font-size: 14px; /* Reducir tamaño de botones */
        padding: 10px 20px; /* Reducir tamaño de botones */
    }

    .main-image img {
        width: 70%; 
        height: 70%; 
        object-fit: contain;
    }
    .main-image{
        width: auto; 
        height: auto;
    }
}

/* Móviles grandes y tablets verticales */
@media (min-width: 641px) and (max-width: 768px) {
    .product-detail-container {
        display: flex;
        flex-direction: column;
        padding: 20px; /* Agregar padding a la card */
    }

    .product-images {
        margin-bottom: 20px;
    }

    .main-image img {
        width: 70%; 
        height: 70%; 
        object-fit: contain;
    }
    .main-image{
        width: auto; 
        height: auto;
    }

    .thumbnail-images {
        display: flex;
        justify-content: space-between;
    }

    .thumbnail img {
        width: 70%; 
        height: 70%; 
        object-fit: contain;
    }

    .product-info {
        text-align: center;
    }

    .quantity-selector {
        font-size: 16px; /* Reducir tamaño de botones */
        padding: 12px 22px; /* Reducir tamaño de botones */
    }
}

/* Tablets horizontales y laptops pequeñas */
@media (min-width: 769px) and (max-width: 1024px) {
    .product-detail-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 30px; /* Agregar padding a la card */
    }

    .product-images {
        width: 45%;
    }

    .main-image img {
        width: 70%; 
        height: 70%; 
        object-fit: contain;
    }
    .main-image{
        width: auto; 
        height: auto;
    }

    .thumbnail-images {
        display: flex;
        justify-content: space-between;
    }

    .thumbnail img {
        width: 70%; 
        height: 70%; 
        object-fit: contain;
    }

    .product-info {
        width: 50%;
    }

    .quantity-selector {
        margin-top: 15px;
        font-size: 16px; /* Reducir tamaño de botones */
        padding: 14px 24px; /* Reducir tamaño de botones */
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .product-detail-container {
        display: flex;
        flex-direction: row;
        padding: 30px; /* Agregar padding a la card */
    }

    .product-images {
        width: 50%;
    }

    .product-info {
        width: 50%;
        padding-left: 20px;
    }
}

/* Tablets grandes */
@media (min-width: 1025px) {
    .product-detail-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 40px; /* Agregar padding a la card */
    }

    .product-images {
        width: 40%;
    }

    .product-info {
        width: 55%;
        padding-left: 20px;
    }

    .main-image img {
        width: 90%; 
        height: 90%; 
        object-fit: contain;
    }
    .main-image{
        width: auto; 
        height: auto;
    }

    .thumbnail-images {
        display: flex;
        justify-content: space-between;
    }

    .thumbnail img {
        width: 70%; 
        height: 70%; 
        object-fit: contain;
    }

    .product-brand,
    .product-price,
    .product-description {
        font-size: 16px;
    }

    .quantity-selector {
        font-size: 18px; /* Reducir tamaño de botones */
        padding: 16px 28px; /* Reducir tamaño de botones */
    }
}
