{% extends 'base.html' %}
{% load precios_tag %}
{% load static %}
{% block content %}


<link rel="stylesheet" href="{% static 'css/detalle_compra.css' %}">

<div class="detalle-compra">
  <h1>Detalle de la compra</h1>
  <h3>Orden: {{ orden.num_orden }}</h3>
  <p>Estado: {{ orden.get_status_display }}</p>
  <p>Total: {{ orden.total | format_price }}</p>
  <p>Fecha de pago: {{ orden.fecha_pagada|date:"d/m/Y H:i" }}</p>

  <h4>Productos:</h4>
  <ul class="lista-productos">
    {% for item in orden.productos_orden.all %}
      <li class="li-lista-productos">
        <img src="{{ item.producto.main_image.url }}" alt="{{ item.producto.name }}" width="50px" height="50px">
        {{ item.producto.name }} x{{ item.quantity }} - {{ item.producto.price | format_price }}
        {% widthratio item.quantity 1 item.producto.price as subtotal %}
        {{ subtotal|format_price }}
      </li>
    {% endfor %}
  </ul>

  <a href="{% url 'historial_orden' %}" class="atras">Atrás</a>
</div>

{% endblock %}