{% extends 'base.html' %}

{% block content %}
<div style="background: white;">
    <h1>Historial de pedidos</h1>

    {% if ordenes %}
        <ul>
            {% for orden in ordenes %}
                <h3>Orden: {{ orden.ordenID }}</h3>
                <ul>
                    {% for item in orden.productos_orden.all %}
                        <img src="{{ item.producto.main_image.url }}" alt="{{ item.producto.name }}" width="50px" height="50px">
                        {{ item.producto.name }} x{{ item.quantity }} - {{ orden.get_status_display }} total: ${{ orden.total }}
                    {% endfor %}
                    {% if orden.status == 'PAYED' or orden.status == 'CANCELED' %}
                        <a href="orden.id">Cancelar compra</a>
                    {% endif %}
                    <p>Pagado el: {{ orden.fecha_pagada|date:"d/m/Y H:i" }}</p>
                </ul>
                <a href="{% url 'detalle_compra' orden.id %}">Ver detalle</a>
            {% endfor %}
        </ul>
    {% else %}
        <p>No tienes órdenes previas.</p>
    {% endif %}
</div>
{% endblock %}
