{% extends 'base.html' %}

{% block content %}
<div style="color: aliceblue; background: rgb(0, 153, 255); width: 50%; margin: auto;">
    <div style="display: flex; justify-content: space-evenly; padding: 0px 15px; color: black;">
        <div style="text-align: center;">
            Detalle del pedido
            <!-- <div>
                <form method="POST">
                    {% csrf_token %}
                    <label for="delivery_method">Método de entrega:</label>
                    <select name="delivery_method" id="delivery_method">
                        <option value="SHIPPING" {% if orden.delivery_method  == 'SHIPPING' %}selected{% endif %}>Despacho</option>
                        <option value="PICKUP" {% if orden.delivery_method  == 'PICKUP' %}selected{% endif %}>Retiro en tienda</option>
                    </select>
                    <button type="submit">Seleccionar</button>
                </form>
            </div> -->
            <!-- {% if orden.delivery_method == 'SHIPPING' %}
                
            {% endif %} -->
            <div style="display:flex; flex-direction: row; background-color: aqua;">
                {% if orden.orderaddress_set.first %}
                    <p>Dirección para este pedido {{ orden.id }}:
                        {{ orden.orderaddress_set.first.calle }} {{ orden.orderaddress_set.first.num_direccion }},
                        {{ orden.orderaddress_set.first.comuna.name }} - {{ orden.orderaddress_set.first.ciudad }}</p>
                {% else %}
                    {% if direccion_existente %}
                        <p>Dirección registrada en tu perfil:
                            {{ direccion_existente.calle }} {{ direccion_existente.num_direccion }},
                            {{ direccion_existente.comuna.name }} - {{ direccion_existente.ciudad }}</p>
                            
                    {% else %}
                        <p>No tienes una dirección registrada en tu perfil. Por favor, agrégala.</p>
                    {% endif %}
                {% endif %}
                <a href="{% url 'modificar_direccion' orden.id %}">Modificar direccion</a>
            </div>
            
            <div>
                <p>Metodo de pago:
                    WebPay
                </p>
            </div>


        </div>
        <div>
            <div>
                Resumen del pedido
                Editar
            </div>
            {% for cart_product in cart.product_related %}
            <div>
                {% if cart_product.productos.main_image %}
                <img src="{{cart_product.productos.main_image.url}}" alt="" width="70px" height="70px">
                {% endif %}
            </div>

            <div>
                <strong>{{cart_product.productos.name}}</strong>
            </div>
            <div>
                {{cart_product.productos.price}}
            </div>
            <div>
                {{cart_product.quantity }}
            </div>
            {% endfor %}
            <div>
                <p>Subtotal: </p>
                <p>Envio: {{ orden.envio_total }} </p>
                <strong>Total: {{orden.total}} </strong>
            </div>
            <a href="" class="btn btn-primary">Pagar</a>
        </div>
    </div>


</div>
{% endblock %}