{% extends 'base.html' %}
{% load static %}
{% load precios_tag %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/historial_compras.css' %}">

<div class="search-container">
  <div class="search-bar">
    {% include 'historial_compra/search_compra.html' %}
  </div>
</div>

<div class="order-history">
  <h1>Historial de pedidos</h1>
  <br>
  <p class="total-ordenes">Total de órdenes: {{ ordenes|length }}</p>
  {% if query %}
    <p>Resultado de búsqueda para: <strong>{{ query }}</strong></p>
    {% if ordenes %}
      <ul>
        {% for orden in ordenes %}
          <h3>Orden: {{ orden.num_orden }}</h3>
          <ul>
            {% for item in orden.productos_orden.all %}
              <li class="order-item">
                <img src="{{ item.producto.main_image.url }}" alt="{{ item.producto.name }}" width="50px" height="50px">
                {{ item.producto.name }} x {{ item.quantity }}
              </li>
            {% endfor %}
            <div class="order-details">
              Estado orden: <strong>{{ orden.get_status_display }}</strong><br>
              Total: <strong>{{ orden.total | format_price }}</strong><br>
              {% if orden.status == 'PAYED' or orden.status == 'PREPARING' or orden.status == 'READY_FOR_PICKUP' %}
                <a class="btn btn-danger" onclick="cancelarCompra({{ orden.id }})">Cancelar</a><br>
              {% endif %}
              Pagado el: {{ orden.fecha_pagada|date:"d/m/Y H:i" }}
            </div>
          </ul>
          <a href="{% url 'detalle_compra' orden.id %}">Ver detalle</a>
        {% endfor %}
      </ul>
      <p class="total-ordenes">Total de órdenes: {{ ordenes|length }}</p>
    {% else %}
      <p>No se encontró orden con ese número de orden</p>
    {% endif %}

    {% include 'paginacion_products.html' with page_obj=ordenes %}
  {% else %}
    {% if ordenes %}
      <ul>
        {% for orden in ordenes %}
          <h3>Orden: {{ orden.num_orden }}</h3>
            <ul>
              {% for item in orden.productos_orden.all %}
                <li class="order-item">
                  <img src="{{ item.producto.main_image.url }}" alt="{{ item.producto.name }}" width="50px" height="50px">
                  {{ item.producto.name }} x {{ item.quantity }}
                </li>
              {% endfor %}
              <div class="order-details">
                Estado orden: <strong>{{ orden.get_status_display }}</strong><br>
                Total: <strong>{{ orden.total | format_price}}</strong><br>
                {% if orden.status == 'PAYED' or orden.status == 'PREPARING' or orden.status == 'READY_FOR_PICKUP' %}
                  <a class="btn btn-danger" onclick="cancelarCompra({{ orden.id }})">Cancelar</a><br>
                {% endif %}
                Pagado el: {{ orden.fecha_pagada|date:"d/m/Y H:i" }}
              </div>
            </ul>
            <a href="{% url 'detalle_compra' orden.id %}">Ver detalle</a>
        {% endfor %}
      </ul>
      {% include 'paginacion_products.html' with page_obj=ordenes %}
    {% else %}
      <p>No tienes compras</p>
    {% endif %}
  {% endif %}
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  function cancelarCompra(id){
    const baseUrl = "{% url 'cancelar_compra' 0 %}".replace("0", id);
    Swal.fire({
      title: '¿Estás seguro?',
      text: 'Esta acción no se puede deshacer',
      icon: 'question',
      showCancelButton: true,
      cancelButtonText: 'No, cancelar',
      confirmButtonText: 'Sí, cancelar orden',
      reverseButtons: true,
      confirmButtonColor: '#dc3545'
    }).then(function(result){
      if(result.isConfirmed){
        window.location.href = baseUrl;
      }
    });
  }
</script>

{% endblock %}