<h1 style="color: white;">Buscar orden </h1>
<form action="{% url 'buscar_compra' %}" method="GET">
    <div class="input-group">
        <input type="text" name="searchcompraQ" class="form-control" placeholder="Buscar compras..." aria-label="Buscar compras..." value="{{ query }}"> 
        <div class="input-group-append">
            <button type="submit" class="btn" style="background-color: #7c3aed; border-radius: 0 5px 5px 0;">
                <i class="bi bi-search" style="font-size: 25px;"></i>
            </button>
        </div>
    </div>
</form>

