{% extends 'base.html' %}
{% load precios_tag %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/cart.css' %}">
<div class="cart-container">

    <div class="cart-items">
        {% if cart.productos.exists %}
            {% for cart_product in cart.product_related %}
                {% with product=cart_product.productos %}
                <div class="cart-item" id="product-{{ cart_product.id }}">

                    <div class="item-image">
                        {% if product.main_image %}
                            <img src="{{ product.main_image.url }}" alt="{{ product.name }}" width="100px">
                        {% else %}
                            <div style="width:120px; height:120px; background:#fff; border-radius:0.5rem;"></div>
                        {% endif %}
                    </div>

                    <div class="item-details">
                        <div class="item-brand">{{ product.brand }}</div>
                        <div class="item-name">{{ product.name }}</div>
                        <div class="item-price">{{ product.price | format_price }}</div>
                        <div class="item-quantity">
                            {% include 'update_quantity.html' %}
                        </div>
                    </div>

                    <div class="item-actions">
                        <div class="item-total">
                            {{ cart_product.get_subtotal_product | format_price }}
                        </div>
                        <div>
                            {% include 'remove.html' %}
                        </div>
                    </div>

                </div>
                {% endwith %}
            {% endfor %}
        {% else %}
            <div class="empty-cart" style="display:flex; color: white;">
                <div class="empty-cart-icon">🛒</div>
                <h2>Tu carrito está vacío</h2>
                <p class="empty-cart-message">Parece que aún no has añadido productos a tu carrito</p>
                <a href="{% url 'view_products' %}" class="shop-now-button">Explorar productos</a>
            </div>
        {% endif %}
    </div>

    <div class="cart-summary">
        {% if cart.productos.exists %}
            <h3 class="summary-title">Resumen del Pedido</h3>

            <div class="summary-row">
                <span class="summary-label">Subtotal</span>
                <span class="summary-value">{{ cart.subtotal | format_price }}</span>
            </div>

            <div class="summary-total">
                <span>Total</span>
                <span>{{ cart.total | format_price }}</span>
            </div>
            <a class="btn btn-gotopay" href="{% url 'orden' %}">Proceder al pago</a>

            <div class="continue-shopping">
                <a href="{% url 'view_products' %}">Continuar comprando</a>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}
