{% extends "base.html" %}
{% load static %}
{% load precios_tag %}
{% load custom_filter %}
{% block banner %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<section class="hero" id="inicio">
    <div class="hero-content animate-fade-in">
        <h1 class="hero-title">Los mejores productos<br>a un click</h1>
        <p class="hero-subtitle">Descubre lo mejor en tecnología e instrumentos musicales en Byte & Beat</p>
        <button class="cta-button floating" >Explorar Productos</button>
    </div>
</section>
{% endblock %}

{% block content %}

<section id="categories" class="container our-categories-container">

    <div class="text-center" style="color: #17F0D2;">
        <h3>Productos Destacados</h3>
    </div>

    <div class="container-our-categories">
        <div class="col-4-md col-12">
            <div class="row">
                {% for product_vent in mas_vendido %}
                <div class="card card-hover shadow-sm border-0 rounded-4 mx-auto" style="max-width: 300px;">
                    <div class="position-relative" style="height: 130px; border-radius: 10px;">
                        <div class="d-flex align-items-center justify-content-center" style="height: 130px; border-radius: 10px; background: white; margin-bottom: 20px;">
                            <span class="text-muted fs-4"><img src="{{product_vent.main_image.url}}" alt="" width="90%" height="90%"></span>
                        </div>
                        
                        <div class="overlay">
                            <h6 class="fw-bold m-0" style="color: #2C2F47;">{{product_vent.category}}</h6>
                        </div>
                    </div>
                    
                    <div class="card-body">
                        <h5 class="card-title fw-bold">{{product_vent.name}}</h5>
                        <p class="card-text mb-2" style="color: white;">{{product_vent.price | format_price }}</p>
                        <a href="{% url 'detail_product' product_vent.slug %}" class="btn rounded-pill px-4" style="background: #17F0D2;">Añadir al carrito</a>
                    </div>
                </div>  
                {% endfor %}             
                
            </div>
        </div>
        
    </div>
</section>

<section class="containter featured-products bg-secondary" style="padding-top: 1%;">
    <div class="text-center" style="color: #17F0D2;">
        <h3 class="title-featured">Nuestras Categorias</h3>
    </div>

    <div class="container-featured-products">
        <div class="col-4-md col-12">
            <div class="row">
                {% for categorys in categoria %}
                    <div class="card card-hover shadow-sm border-0 rounded-4 mx-auto" style="max-width: 300px; ">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">{{categorys.name}}</h5>
                            <p class="card-text">
                                Descripcion de los productos en esta categoria
                            </p>
                            <a href="{% url 'categorias_marcas_filtro' 'categoria' categorys.id|urlsafe_base64_encode_filter %}" class="btn rounded-pill px-4" style="background: #17F0D2;">Ver</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}